{
  "presets": ["next/babel", "@zeit/next-typescript/babel"],
  "plugins": [
    ["emotion", { "inline": true }],
    [
      "@babel/plugin-transform-react-jsx",
      { "pragma": "Emotion.jsx", "pragmaFrag": "React.Fragment" }
    ]
  ]
}
